{{define "footer"}}
<footer class="site-footer">
    <div class="container footer-inner">
	
	<div class="left">
        <div class="copyright">Rendered using <a href="https://github.com/anna-ssg/anna">anna</a> ❤️</div>
        <div class="credits">&copy; <span id="site-year"></span> {{ .DeepDataMerge.LayoutConfig.SiteTitle }}</div>
	</div>
	<div class="right">
		<a href="https://codeberg.org/Quan1umMango">
			<img src="{{.DeepDataMerge.LayoutConfig.BaseURL}}/static/images/codeberg.png"  alt="Codeberg" />
		</a>
		<a href="https://github.com/Quan1umMango">
			<img src="{{.DeepDataMerge.LayoutConfig.BaseURL}}/static/images/github.svg" href="https://github.com/Quan1umMango" alt="Github" />
		</a>
		<img src="{{.DeepDataMerge.LayoutConfig.BaseURL}}/static/images/discord.svg" />: paper_1111
	</div>
    </div>
    <script>/* set current year client-side to avoid template helpers */(function () { var el = document.getElementById('site-year'); if (el) el.textContent = new Date().getFullYear(); })(); </script>
</footer>
{{end}}
